/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

/* Global */

:root {
  --color-navy-850: #1c2431;
  --color-navy-900: #181f2a;
  --color-navy-950: #0b1523;
  --color-navy-800: #1a2533;
  --color-teal-200: #65e2d9;
  --color-cyan-500: #00bfff;
  --color-red-500: #ff4d4d;
  --color-white: #ffffff;
  --font-primary: "Open Sans", sans-serif;
  --font-heading: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-white);
  background-color: var(--color-navy-850);
  font-family: var(--font-primary);
  padding: 2.4rem 0 0 0;
}

/* Base Styles */

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 2.4rem;
}

h2 {
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

h4 {
  font-size: 1rem;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  color: var(--color-white);
  background: linear-gradient(
    to right,
    var(--color-cyan-500),
    var(--color-teal-200)
  );
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 2.4rem;
  border: none;
  padding: 1.6rem 8rem;
}

.btn:hover {
  background: #8adae3;
}

/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
  margin-bottom: 4.8rem;

  img {
    width: 8rem;
    height: 2.4rem;
  }

  ul {
    display: flex;
    column-gap: 2.4rem;

    a {
      font-size: 1.2rem;
      font-family: var(--font-heading);
      line-height: 120%;
      cursor: pointer;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 2.4rem;

  img {
    margin-bottom: 7.2rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 150%;
    margin-bottom: 2.4rem;
  }
}

/* Main */

main {
  background-color: var(--color-navy-900);
  padding: 14rem 2.4rem 20rem 2.4rem;
  position: relative;
}

/* Features */

.features {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 16rem;
}

.feature {
  text-align: center;

  img {
    max-width: 8rem;
    max-height: 8rem;
    width: auto;
    height: auto;
    margin-bottom: 2.4rem;
  }

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 150%;
  }
}

/* About */

.about {
  margin-bottom: 15rem;
  display: grid;
  grid-template-columns: 1fr;

  p {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }

  a {
    color: var(--color-teal-200);
    font-size: 1.4rem;
    text-decoration: underline;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--color-white);

      img {
        filter: brightness(3);
      }
    }

    img {
      width: 1.2rem;
      height: 1.2rem;
      margin-left: 0.8rem;
    }
  }
}

.about__img {
  margin-bottom: 4.8rem;
}

/* Testimonials */

.testimonials {
  max-width: 28rem;
  margin: 0 auto 15rem auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
}

.testimonial {
  background-color: var(--color-navy-800);
  border-radius: 0.4rem;
  padding: 2.4rem 2rem;
}

.testimonial__text {
  font-size: 1rem;
  line-height: 180%;
  margin-bottom: 1.6rem;
}

.testimonial__author {
  display: flex;
  align-items: center;

  img {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    margin-right: 0.8rem;
  }

  p {
    font-size: 0.7rem;
  }
}

/* CTA */

.cta {
  background-color: var(--color-navy-850);
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 4rem 2.8rem;
  z-index: 2;

  h2 {
    margin-bottom: 2.4rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 150%;
    margin-bottom: 3.2rem;
  }

  input {
    width: 100%;
    padding: 1.4rem 2.4rem;
    border-radius: 2.4rem;
    border: none;
    background: #ffffff;
    color: var(--color-navy-950);
    font-size: 1.4rem;
    box-shadow: inset 0 6px 12px rgba(3, 23, 38, 0.08);
    outline: none;
    margin-bottom: 2.4rem;
  }

  input[type="email"]::placeholder {
    color: #c0c0c0;
    text-align: center;
  }
}

.cta .btn {
  padding: 1.6rem 0;
  width: 100%;
}

/* Footer */

footer {
  padding-top: 26rem;
  padding: 26rem 2.4rem 4.8rem 2.4rem;
}

.footer__logo {
  width: 10.8rem;
  height: 3rem;
  margin-bottom: 4rem;
}

.footer__info {
  margin-bottom: 5.6rem;

  li {
    display: flex;
    column-gap: 1.6rem;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: 2.4rem;
    height: 2.4rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 150%;
  }
}

.footer__nav {
  margin-bottom: 4rem;

  li {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  a {
    font-size: 1.6rem;

    &:hover {
      font-weight: bold;
    }
  }
}

.footer__second-nav {
  margin-bottom: 4.8rem;
  li {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  a {
    font-size: 1.6rem;

    &:hover {
      font-weight: bold;
    }
  }
}

.footer__social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.footer__social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.7rem;
  height: 2.7rem;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.footer__social-links li a:hover {
  color: var(--color-teal-200);
  border-color: var(--color-teal-200);
}

.footer__social-links i {
  font-size: 1.4rem;
}

/* Media Queries Tablet */

@media (min-width: 768px) {
  body {
    padding: 8rem 0 0 0;
  }

  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 4rem;
  }

  .btn {
    font-size: 1.6rem;
  }

  nav {
    padding: 0 5.4rem;
    margin-bottom: 10rem;

    img {
      width: 13.8rem;
      height: 4rem;
    }

    ul {
      display: flex;
      column-gap: 4.8rem;

      a {
        font-size: 1.6rem;
      }
    }
  }

  .hero {
    padding: 0 5.4rem;

    img {
      margin-bottom: 6.4rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 150%;
      margin-bottom: 4.8rem;
    }
  }

  .hero {
    padding: 0 5.4rem;

    p {
      font-size: 2rem;
    }
  }

  .features {
    grid-template-columns: 1fr 1fr;
    column-gap: 8rem;
    row-gap: 7.2rem;
    padding: 0 5.4rem;
    margin-bottom: 12rem;
  }

  .feature {
    text-align: center;

    img {
      max-width: 10rem;
      max-height: 10rem;
      margin-bottom: 1.6rem;
    }

    &:not(:last-child) {
      margin-bottom: 0rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 150%;
    }
  }

  .about {
    margin-bottom: 15rem;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 5.4rem;

    p {
      font-size: 1.6rem;
      margin-bottom: 1.6rem;
    }

    a {
      font-size: 1.6rem;
    }
  }

  .about__img {
    margin-bottom: 7.2rem;
  }

  .testimonials {
    max-width: 48rem;
    margin: 0 auto 8rem auto;
  }

  .testimonial {
    padding: 4.4rem 4rem;
  }

  .testimonial__text {
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
  }

  .cta {
    max-width: 48rem;
    padding: 5rem 4rem;

    h2 {
      margin-bottom: 0.8rem;
    }

    p {
      margin-bottom: 3.2rem;
    }
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 26rem 5.4rem 4.8rem 5.4rem;
    align-items: flex-start;
  }

  .footer__logo {
    grid-column: 1/-1;
    margin-bottom: 5.6rem;
  }

  .footer__info {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
  }

  .footer__info-location {
    flex-basis: 60%;
  }

  .footer__info-contact {
    flex-basis: 30%;
  }
}

/* Media Queries Desktop */

@media (min-width: 1440px) {
  h1 {
    margin-bottom: 4rem;
  }

  nav {
    padding: 0 8rem;
    margin-bottom: 6.4rem;

    img {
      width: 17.6rem;
      height: 5rem;
    }

    ul {
      display: flex;
      column-gap: 5.6rem;

      a {
        font-size: 1.6rem;
      }
    }
  }

  .hero {
    max-width: 720px;
    margin: 0 auto;

    img {
      margin-bottom: 5.6rem;
    }

    p {
      margin-bottom: 3.2rem;
    }
  }

  .features {
    max-width: 900px;
    margin: 0 auto 14rem auto;
    padding: 0 8rem;
  }

  .about {
    margin-bottom: 12rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 8rem;
    column-gap: 5.6rem;
  }

  .about__img {
    margin-bottom: 0rem;
  }

  .testimonials {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
    max-width: 100%;
    margin: auto 0 22rem auto;
    padding: 0 8rem;
  }

  .cta {
    max-width: 86rem;
    padding: 5rem 8rem;

    h2 {
      font-size: 4rem;
      margin-bottom: 0.8rem;
    }

    p {
      margin-bottom: 3.2rem;
    }

    input {
      margin-bottom: 0;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 2.4rem;
    }
  }

  .cta .btn {
    max-width: 20rem;
  }

  footer {
    padding: 26rem 8rem 4.8rem 8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 8rem;
  }

  .footer__logo {
    margin-bottom: 4.8rem;
  }

  .footer__info {
    grid-column: 1 / 4;
  }
}
