/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

/* Global */

:root {
  --color-navy-850: #1c2431;
  --color-navy-900: #181f2a;
  --color-navy-950: #0b1523;
  --color-navy-800: #1a2533;
  --color-teal-200: #65e2d9;
  --color-cyan-500: #00bfff;
  --color-red-500: #ff4d4d;
  --color-white: #ffffff;
  --font-primary: "Open Sans", sans-serif;
  --font-heading: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-white);
  background-color: var(--color-navy-900);
  font-family: var(--font-primary);
  padding: 2.4rem 0 0 0;
}

/* Base Styles */

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  color: var(--color-white);
  background: linear-gradient(
    to right,
    var(--color-cyan-500),
    var(--color-teal-200)
  );
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 2.4rem;
  border: none;
  padding: 1.6rem 8rem;
}

.btn:hover {
  background: #8adae3;
}

/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
  margin-bottom: 4.8rem;

  img {
    width: 8rem;
    height: 2.4rem;
  }

  ul {
    display: flex;
    column-gap: 2.4rem;

    a {
      font-size: 1.2rem;
      font-family: var(--font-heading);
      line-height: 120%;
      cursor: pointer;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 14rem;
  padding: 0 2.4rem;

  img {
    margin-bottom: 7.2rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 150%;
    margin-bottom: 2.4rem;
  }
}

/* Media Queries Tablet */

@media (min-width: 768px) {
  body {
    padding: 8rem 0 0 0;
  }

  h1 {
    font-size: 4rem;
  }

  .btn {
    font-size: 1.6rem;
  }

  nav {
    padding: 0 5.4rem;
    margin-bottom: 10rem;

    img {
      width: 13.8rem;
      height: 4rem;
    }

    ul {
      display: flex;
      column-gap: 4.8rem;

      a {
        font-size: 1.6rem;
      }
    }
  }

  .hero {
    margin-bottom: 15rem;
    padding: 0 5.4rem;

    img {
      margin-bottom: 6.4rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 150%;
      margin-bottom: 4.8rem;
    }
  }

  .hero {
    padding: 0 5.4rem;

    p {
      font-size: 2rem;
    }
  }
}

/* Media Queries Desktop */

@media (min-width: 1440px) {
  h1 {
    margin-bottom: 4rem;
  }

  nav {
    padding: 0 8rem;
    margin-bottom: 6.4rem;

    img {
      width: 17.6rem;
      height: 5rem;
    }

    ul {
      display: flex;
      column-gap: 5.6rem;

      a {
        font-size: 1.6rem;
      }
    }
  }

  .hero {
    max-width: 720px;
    margin: 0 auto;

    img {
      margin-bottom: 5.6rem;
    }

    p {
      margin-bottom: 3.2rem;
    }
  }
}
